
.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
.header {
    background-image: url("../assets/Hero-bg.png");
    height: 652px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 74px;
}
.banner {
    margin: 25px 221px;
} 
.img {
    text-align: center;
}
.title {
    font-size: 48px;
    color: #0D1321;
    padding: 5px 200px;
    text-align: center;
}
.descrip {
        font-size: 16px;
        color:#0D1321;
        padding: 5px 200px;
        text-align: center;
        opacity: 70%;
}
.btn {
    background-color: #0D1321;
    color: white;
    padding: 13px 70px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 0px 590px;
}
.btn a {
    text-decoration: none;
    color: white;
}
/*Main part style*/
.sec-1 {
    width: 857px;
    color: #0D1321;
    opacity: ;
}
.why-title {
    width: 680px;
    text-align: center;
    margin-left: 600px;
}
.why-title h3 {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-top: 90px;
}
.why-title p{
    margin-bottom: 90px;
    text-align: center;
    color:#0D1321;
    opacity: 70%;
    padding: 0px 0px;
}
.card-main {
    width: 670px;
    margin-left: 600px;
}
.card {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.card-text {
    width: 277px;
    margin-right: 98px;
}
.card-img {
    width: 240px;
}
.card-text2 {
    width: 277px;
    margin-left:20px;
}
.card-img2 {
    width: 240px;
}
.sub-title{
    font-size: 20px;
    font-weight: bold;
    color: #0D1321;
    opacity: 70%;
}
.card-text p {
    font-size: 14px;
    color: #0D1321;
    opacity: 70%;

}
.card-text2 p {
    font-size: 14px;
    color: #0D1321;
    opacity: 70%;

}
.card-btn {
    color: gray;
    padding: 7px 20px;
    border: 1px solid gray;
}
/* vedio style*/
.vedio {
    margin-left: 620px;
}
/* card section 2 styles*/
.card-bg {
    width: 1140px;

}
.card-sec-2 {
    display: flex;
    gap: 10px;
    margin-left: 600px;
    width: 700px;
}
.card-sec {
    width: 170px;
    margin: 10px 10px;
}
.c-s-p {
    font-size: 15px;
    color: grey;
    padding: 0px 2px;
    opacity: 100%;
    font-weight: 800;
}
.card2-btn{
    border: none;
    outline: none;
}
.card2-btn a {
    background-color: transparent;
    color: black;
    opacity: 100%;
}
/* last section style*/
.last-sec {
    background-image: url("../assets/handshake.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 10px;
    width: 700px;
    height: 313px;
   margin-left: 600px;
}
.last-div {
    overflow: hidden;
}
.last-text {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 100px;
}
.last-p {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    margin: 10px 80px;

}
.inp {
    width: 380px;
    padding: 10px 15px 10px 8px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-left: 100px;
}
.last-bt {
    padding:10px 25px;
    font-weight: 600;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-left: 5px;
}
/*footer styles*/
.footer {
    width: 960px;
    display: flex;
    justify-content: space-around;
    margin-left: 470px;
    margin-top: 50px;

}
.footer-collumn i {
    font-size: 24px;
    color: #0D99FF;
    margin-top: 5px;
    float: right;
    margin: 8px;

}
.fagit {
    color: #161614;
}
